@import "./login.scss";
@import "./register.scss";

.auth {
  .form {
    padding: 63px 93px 80px;
    max-width: 714px;
    margin: 0 auto;

    & > .title__wrapper {
      margin-bottom: 44px;
    }
    .form__fields {
      justify-content: space-between;

      &:last-child {
        .form__field {
          margin-bottom: 0!important;
          display: flex;
          align-items: center;
          width: auto;

          .button.button_link {
            font-size: 12px;
          }
          &:last-child {
            justify-content: flex-end;
          }
          &:nth-child(2) {
            justify-content: center;
          }
        }
      }
      .form__field {
        &:not(:last-child) {
          margin-bottom: 40px;
        }
        input {
          width: 100%;
        }
        .title {
          color: #292331;
        }
        .title__wrapper {
          margin-bottom: 10px;
        }
      }
    }
  }
}