.billing {
  .VueTables {
    .table-responsive {
      margin-bottom: 30px;
      height: 100%;
      flex-grow: 1;

      .heading.heading_editing {
        position: relative;
        height: 15px;

        &:after {
          position: absolute;
          left: 0;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          margin: 0 auto;
          display: block;
        }
      }

      th, td {
        &[filter-id="editing"]
        {
          min-width: 65px!important;
        }

        &[filter-id="contract_customer_surname"],
        &[filter-id="contract_speed"],
        &[filter-id="contract_period"],
        &[filter-id="contract_number"],
        &[filter-id="contract_date"],
        &[filter-id="contract_status"],
        &[filter-id="contract_phone"],
        &[filter-id="contract_operator"],
        &[filter-id="contract_type"],
        &[filter-id="contract_customer_name"],
        &[filter-id="contract_patronymic"],
        &[filter-id="contract_debt"],
        &[filter-id="contract_customer_region"],
        &[filter-id="contract_customer_area"],
        &[filter-id="contract_customer_street"],
        &[filter-id="contract_customer_house_number"],
        &[filter-id="contract_customer_passport_series"],
        &[filter-id="contract_customer_passport_number"],
        &[filter-id="contract_customer_passport_code"],
        &[filter-id="contract_customer_passport_issued_by"],
        &[filter-id="contract_price"]
        {
          min-width: 125px!important;
        }

        &[filter-id="contract_customer_phone"],
        &[filter-id="contract_customer_second_phone"],
        &[filter-id="contract_customer_email"],
        &[filter-id="contract_comment_one"],
        &[filter-id="contract_comment_two"],
        &[filter-id="contract_customer_passport_date_of_issue"],
        &[filter-id="contract_renewal_date"],
        &[filter-id="contract_installer"]
        {
          min-width: 171px!important;
        }

        &[filter-id="contract_customer_locality"],
        &[filter-id="contract_customer_type_of_room"],
        &[filter-id="contract_customer_birthday"],
        &[filter-id="contract_customer_full_address"],
        &[filter-id="contract_customer_passport_registration_address"]
        {
          min-width: 195px!important;
        }
      }
    }
    .table__footer {
      min-height: 30px;
    }
  }
}