.cabinet {
  .title__wrapper {
    margin-bottom: 37px;
  }
  .cabinet__wrapper {
    display: flex;
    justify-content: space-between;

    .cabinet__card {
      max-width: 714px;
      padding: 54px 62px 60px;
      width: 100%;
      height: 100vh;
      max-height: 579px;
      overflow: hidden;
      margin-right: 35px;
      min-width: 648px;

      &.disabled {
        padding: 0;
      }
      .form__fields {
        &:nth-child(1) {
          .form__field {
            &:not(:last-child) {
              margin-bottom: 54px;
            }
          }
        }
        &:last-child {
          flex-wrap: nowrap;
          justify-content: space-between;

          .form__field {
            width: auto;
          }
        }
      }
    }
    .cabinet__actions {
      max-width: 247px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;

      .form__fields {
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: 26.7%;

        .form__field {
          &:not(:last-child) {
            margin-bottom: 30px;
          }
          .button {
            padding-left: 20px;
            padding-right: 20px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              margin-right: 21.45px;
            }
          }
        }
      }
      .cabinet__balance {
        box-shadow: none;
        border: 1px solid #00D7FF;
        padding: 0;
        overflow: hidden;

        .cabinet__balance__price {
          display: flex;
          justify-content: space-between;
          padding: 29px 29px 25px;

          .cabinet__balance__title {
            color: #292331;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.36px;
            font-family: "SF Pro Display Regular", sans-serif;
          }
          .cabinet__balance__content {
            color: #E83967;
            font-family: 'Rubik', sans-serif;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.4px;
          }
        }
        .cabinet__balance__period {
          display: flex;
          flex-direction: column;
          padding: 17px 29px 26px;
          background-color: #F8F8FD;

          .cabinet__balance__title {
            color: #9782B2;
            letter-spacing: 0.24px;
            font-family: "SF Pro Display Semibold", sans-serif;
            font-size: 12px;
            line-height: 14px;
            margin-bottom: 7px;
          }
          .cabinet__balance__content {
            color: #292331;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.36px;
            font-family: "SF Pro Display Regular", sans-serif;
          }
        }
      }
    }
  }
  .modal.cabinet_payments {
    position: relative;
    padding: 36px 40px 0;
    height: 100%;

    .modal__wrapper {
      height: 100%;

      & > .title__wrapper {
        margin-bottom: 28px;
        position: relative;

        .title.title_small {
          width: 100%;
          text-align: center;
        }
        .button.button_inline {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 1;
          left: 20px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            margin-right: 11.57px;
          }
        }
      }
      .payment-history {
        height: 92.35%;
        overflow-y: auto;
      }
    }
  }
}

@media screen and (max-width: 1105px) {
  .cabinet {
    .cabinet__wrapper {
      flex-wrap: wrap;

      .cabinet__card {
        margin-right: 0;
        min-width: auto;
        width: 100%;
        margin-bottom: 35px;
        max-width: none;
      }
      .cabinet__actions {
        max-width: none;

        .cabinet__balance {
          margin-bottom: 35px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .cabinet {
    .cabinet__wrapper {
      flex-direction: column;

      .cabinet__actions {
        order: 1;
        width: 100%;
        max-width: none;
        margin-bottom: 30px;

        .form__fields {
          margin-bottom: 0;

          .form__field {
            .button {
              padding: 14.75px 0;
            }

            &:last-child {
              .button {
                padding: 19px 0;
              }
            }
          }
        }
        .cabinet__balance {
          margin-bottom: 30px;
        }
      }
      .cabinet__card {
        padding: 42px 31px;
        order: 2;
        height: auto;
        max-height: none;

        .form__fields {
          &:last-child {
            flex-direction: column;
          }
          .form__field {
            &:first-child {
              margin-bottom: 41px;
            }
            .button.button_orange {
              width: 100%;
            }
            .button {
              &.button_link {
                width: max-content;
              }
            }
          }
          .form__field__content {
            font-size: 18px;
          }
        }
      }
    }
    .modal.cabinet_payments {
      padding: 31px 0 0;

      .modal__wrapper {
        & > .title__wrapper {
          padding: 0 30px;

          .title.title_small {
            text-align: right;
            font-size: 14px;
            line-height: 16px;
          }
          .button.button_inline {
            left: 30px;
          }
        }
      }
    }
  }
}