.contract {
  .content-block__header {
    .button {
      transition: none;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
  #form-cancel {
    background-color: #9782B2;
  }
  .form__wrapper {
    & > .form {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    .form__groups {
      .form__group {
        &:nth-child(2) {
          .form__field {
            &:not(.form__field_small) {
              input {
                width: 100%;
              }
            }
          }
        }
        &:nth-child(1) {
          .wrapper {
            width: 73.32%;
          }
        }
      }
    }
    .form__fields {
      .form__field {
        &:not(:last-child) {
          margin-bottom: 0;
        }
      }
      & > *:not(:last-child) {
        margin-bottom: 25px!important;
      }
      .wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;

        input, select {
          width: 100%;
        }
      }
    }
  }
  .content-block.form__wrapper {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .payment-history__modal {
    max-width: 424px;
  }
  .app_wrapper {
    .content-block__wrapper {
      position: relative;
    }
  }
  #payment-form {
    &.payment-form_replenishment {
      button[type='submit'] {
        background-color: #1BC167;
      }
    }
    &.payment-form_payment {
      button[type='submit'] {
        background-color: #E83967;
      }
    }
    button[type='submit'] {
      padding-left: 47px;
      padding-right: 47px;
      min-width: 187px;
      text-align: center;
      margin: 0 auto;
      display: block;
    }
  }

  .payment-history__item__edit {
    cursor: pointer;
  }
}


.payment-history {
  & > .title__wrapper {
    margin-bottom: 30px;
  }
  .payment-history__items {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    .payment-history__item {
      padding: 10px 22px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &.payment-history_replenishment {
        .payment-history__item__price {
          color: #1BC167;
        }
      }
      &.payment-history_payment {
        .payment-history__item__price {
          color: #E83967;
        }
      }
      &:nth-child(odd) {
        background-color: #F9F8FE;
      }
      .title__wrapper {
        margin-bottom: 7px;

        .title {
          color: #282331;
          font-family: "SF Pro Display Regular", sans-serif;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 0.32px;
        }
      }
      .payment-history__item__data {
        display: flex;
        flex-direction: column;
        width: 50%;

        .payment-history__item__info {
          display: flex;
          color: #9782B2;
          align-items: baseline;
          flex-wrap: wrap;

          .payment-history__item__date {
            margin-right: 10px;
            font-family: "SF Pro Display Semibold", sans-serif;
            font-size: 10px;
            line-height: 14px;
          }
          .payment-history__item__type {
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.24px;
          }
        }
      }
      .payment-history__item__price {
        letter-spacing: 0.4px;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
  .payment-history__actions {
    .payment-history__actions__buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 22px;

      .button {
        padding-left: 47px;
        padding-right: 47px;
        min-width: 187px;
        text-align: center;

        &#payment-history-replenish {
          background-color: #1BC167;
        }
        &#payment-history-pay {
          background-color: #E83967;
        }
      }
    }
  }
}