.table__search {
  width: 100%;
  height: 100%;

  .modal {
    &.search__modal {
      overflow: auto;
      position: absolute;
      top: calc(100% + 12px);
      transform: none;
      padding: 20px 24px;
      border-radius: 8px;
      max-height: none;

      .modal__wrapper {
        max-width: 83%;
      }
      .table__search__modal__fields__modal {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
        max-height: 345px;
        margin-top: 12px;

        .table__search__modal__field {
          width: 40%;
          height: 25%;
          display: flex;
          align-items: flex-start;

          &:not(:last-child) {
            margin-bottom: 15px;
          }
          &:last-child {
            //margin-right: auto;
          }
          & > * {
            cursor: pointer;
          }
          input {
            width: auto;
            margin-right: 10px;
          }
          label {
            flex-grow: 1;
            display: flex;
            justify-content: flex-start;
          }
        }
      }
      .table__search__modal__body {
        margin-bottom: 30px;
        width: 100%;

        .table__search__modal__add-field {
          .button {
            display: inline-block;
          }
        }
      }
      .table__search__modal__actions {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;

        button {
          width: 46.12%;
          margin-right: 0;
          padding-left: 10px;
          padding-right: 10px;
          max-width: 186px;

          &:last-child {
            //margin-right: auto;
          }
          &:not(:last-child) {
            //margin-right: 25px;
          }
        }
      }
      .form__fields {
        margin-bottom: 22px;

        .form__field {
          position: relative;
          //width: 85.4%;

          &:not(:last-child) {
            margin-bottom: 14px;
          }
          .vc-popover-content-wrapper {
            top: 110%!important;
            transform: none!important;
            left: 0!important;
            right: 0!important;
            margin: 0 auto;
            will-change: unset!important;
            width: 258px!important;
          }
        }
      }
    }
  }
}
