.payments__table {
  .table__header {
    .button {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
  .payments__modal {
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;

    .modal__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;

      form {
        position: relative;
        z-index: 2;
        background-color: #fff;
        padding: 25px 30px 35px;

        .form__fields {
          .form__field {
            input {
              width: 100%;
            }
          }
        }
        .button {
          display: block;
          margin: 0 auto;
        }
      }
      .overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: #292331;
        opacity: 0.4;
      }
    }
  }
}

.payments__import_success {
  margin-top: 30px;

  & > .title__wrapper {
    margin-bottom: 15px;
  }
  .payments__import_success__items {
    display: flex;
    flex-direction: column;
  }
  .payments__import_success__item {
    display: flex;

    &.contracted_payments {
      color: #1BC167;
    }
    &.non_contractual_payments {
      color: #E83967;
    }
    &.existing_payments {
      color: #FF9922;
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    .payments__import_success__item__title {
      margin-right: 5px;
    }
  }
}