<template>
    <div :class="`VueTables VueTables--${props.source} ${tableType}__table`" slot-scope="props">
        <div
            v-if="tableType === 'patients'"
            :class="props.theme.row"
        >
            <div
            class="table__header content-block__header"
            :class="props.theme.column"
            >
                <div class="title__wrapper">
                    <div
                    class="title title_large"
                    >Пациенты</div>
                </div>

                <div
                v-if="!props.opts.filterByColumn && props.opts.filterable"
                :class="`${props.theme.field} ${props.theme.inline} ${props.theme.left} VueTables__search`"
                >
                    <vnodes :vnodes="props.slots.beforeFilter"/>
                    <vt-generic-filter/>
                    <vnodes :vnodes="props.slots.afterFilter"/>
                </div>
                <vnodes :vnodes="props.slots.afterFilterWrapper"/>

                <router-link
                to="/patient/create"
                class="button"
                >Добавить</router-link>

                <div class="VueTables__pagination-wrapper" v-if="props.opts.pagination.dropdown && props.totalPages > 1">
                    <div :class="`${props.theme.field} ${props.theme.inline} ${props.theme.right} VueTables__dropdown-pagination`">
                        <vt-dropdown-pagination/>
                    </div>
                </div>

                <div v-if="props.opts.columnsDropdown"
                     :class="`VueTables__columns-dropdown-wrapper ${props.theme.right} ${props.theme.dropdown.container}`">
                    <vt-columns-dropdown/>
                </div>
            </div>
        </div>

        <vnodes :vnodes="props.slots.beforeTable"/>
        <div class="content-block">
            <div class="table__wrapper">
                <div
                class="table__scroll-arrow table__scroll-arrow_left active"
                ref="table-scroll-left"
                @mousemove="tableScrollData.type = 'left'; tableScroll($event)"
                @mouseleave="tableScrollData.speed = 0"
                ></div>

                <div
                class="table-responsive"
                ref="table-wrapper"
                >
                    <vt-table ref="vt_table"/>
                </div>

                <div
                class="table__scroll-arrow table__scroll-arrow_right active"
                ref="table-scroll-right"
                @mousemove="tableScrollData.type = 'right'; tableScroll($event)"
                @mouseleave="tableScrollData.speed = 0"
                ></div>
            </div>

            <div class="table__footer">
                <vt-pagination/>

                <div v-if="props.perPageValues.length > 1"
                :class="`${props.theme.field} ${props.theme.inline} ${props.theme.right} VueTables__limit`"
                >
                    <vnodes :vnodes="props.slots.beforeLimit"/>
                    <vt-per-page-selector/>
                    <vnodes :vnodes="props.slots.afterLimit"/>
                </div>
            </div>
        </div>
        <vnodes :vnodes="props.slots.afterTable"/>
    </div>
</template>

<script>
    import Vue from 'vue';
    import { mapGetters } from 'vuex';
    import VtColumnsDropdown from 'vue-tables-2/compiled/components/VtColumnsDropdown';
    import VtDropdownPagination from 'vue-tables-2/compiled/components/VtDropdownPagination';
    import VtGenericFilter from 'vue-tables-2/compiled/components/VtGenericFilter';
    import VtPerPageSelector from 'vue-tables-2/compiled/components/VtPerPageSelector';
    import VtTable from 'vue-tables-2/compiled/components/VtTable';
    import VtPagination from 'vue-tables-2/compiled/components/VtPagination';
    import axios from "axios";

    export default {
        name: "VtDataTable",
        props: ['props'],
        components: {
            VtGenericFilter,
            VtPerPageSelector,
            VtColumnsDropdown,
            VtDropdownPagination,
            VtTable,
            VtPagination,
            vnodes: {
                functional: true,
                render: (h, ctx) => ctx.props.vnodes
            }
        },
        data() {
            return {
                paymentRecords: null,
                tableScrollData: {
                    speed: 0,
                },
                modal: {
                    state: false,
                    validate: false
                }
            }
        },
        methods: {
            updateScroll() {
                if (this.tableScrollData.speed !== 0) {
                    if (this.tableScrollData.type === 'left') {
                        this.$refs['table-wrapper'].scrollLeft = this.$refs['table-wrapper'].scrollLeft - 10;
                    }

                    if (this.tableScrollData.type === 'right') {
                        this.$refs['table-wrapper'].scrollLeft = this.$refs['table-wrapper'].scrollLeft + 10;
                    }
                }

                window.requestAnimationFrame(this.updateScroll);
            },
            tableScroll() {
                this.tableScrollData.speed = 30;
            },
        },
        computed: {
            ...mapGetters([
                'tableType',
            ]),
        },
        mounted() {
            window.requestAnimationFrame(this.updateScroll);
        }
    }
</script>