<template>
  <div
  class="table__search"
  >
    <div class="VueTables__search-field">
      <input
      :class="`VueTables__search__input ${props.theme.input} ${props.theme.small}`"
      type="text"
      placeholder="Фильтр + поиск"
      @keyup="e=>props.search(props.opts.debounce)(e)"
      :id="`VueTables__search_${props.id}`"
      autocomplete="off"
      @click="tableType !== 'consultations' ? searchModal.state = !searchModal.state : false"
      />

      <img src="/public/images/components/table/table-search.svg" alt="">

      <div
      class="content-block modal search__modal"
      :class="{'active': searchModal.state}"
      v-if="tableFilterDisplay[tableType] && searchModal.state"
      >
        <div class="modal__wrapper">
          <div class="table__search__modal__body">
            <div class="table__search__modal__items">
              <div class="form__fields">
                <div
                class="form__field"
                v-for="(filter, index) in tableFilterDisplay[tableType]"
                :key="index"
                v-if="filter"
                >
                  <div class="title__wrapper">
                    <div class="title title_small">{{ tableHeadings[index] }}</div>
                  </div>

                  <div class="form__field_input">
                    <vc-date-picker
                    v-if="index === 'birthday'"
                    v-model="modelFields[index]"
                    :input-props="{
                      name: index,
                      autocomplete: 'off'
                    }"
                    :popover="{ placement: 'bottom', visibility: 'click' }"
                    @input="applyDate('patient', $event, index)"
                    />

                    <select
                    v-else-if="selects[index]"
                    class="form-control"
                    :name="index"
                    @input="updateLocalFilters($event)"
                    >
                      <option disabled selected hidden value=''>
                        Не указан
                      </option>

                      <option
                      v-for="(template, selectIndex) in selects[index].properties"
                      :key="selectIndex"
                      :value="template"
                      :selected="selects[index] != null ? template == localDataFilters[index] : ''"
                      >
                        {{ template }}
                      </option>
                    </select>

                    <input
                    v-else
                    type="text"
                    :name="index"
                    v-model="modelFields[index]"
                    @input="updateLocalFilters($event)"
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="table__search__modal__add-field">
              <div
              class="table__search__modal__fields__modal"
              v-if="searchAddFieldModal.state"
              >
                <div
                class="table__search__modal__field"
                v-for="(filter, index) in tableHeadings"
                :key="index"
                v-if="filter && index !== 'editing'"
                >
                  <input
                  v-model="tableFilterDisplay[tableType][index]"
                  type="checkbox"
                  :id="index"
                  :name="index"
                  @click="columnFilter(index)"
                  >
                  <label
                  class="label"
                  :for="index"
                  >
                    {{ filter }}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="table__search__modal__actions">
            <button
            type="button"
            class="button"
            @click="applyFilter"
            >
              Найти
            </button>
            <button
            type="button"
            class="button button_pink"
            @click="resetFilter"
            >
              Сбросить
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
        class="overlay overlay_transparent"
        v-show="searchModal.state"
        @click="searchModal.state = false; searchAddFieldModal.state = false"
    ></div>
  </div>
</template>

<script>
    import VueDadata from 'vue-dadata';
    import { Event } from "vue-tables-2";
    import { mapGetters } from "vuex";

    export default {
        name: "MyGenericFilter",
        props: ['props'],
        components: {
          'vue-dadata': VueDadata
        },
        data () {
          return {
            localStorage: {},
            selects: {},
            searchModal: {
              state: false,
            },
            searchAddFieldModal: {
              state: false,
            },
            localDataFilters: {},
            modelFields: {
              id: null,
              surname: null,
              name: null,
              patronymic: null,
              birthday: null,
              sex: null,
              snils: null
            },
          }
        },
        methods: {
          applyFilter() {
            for (let settingIndex in this.localDataFilters) {
              Event.$emit('vue-tables.filter::' + settingIndex, this.localDataFilters[settingIndex]);
            }

            this.searchModal.state = false;
            this.searchAddFieldModal.state = false;
          },
          resetFilter() {
            for (let localFilter in this.localDataFilters) {
              this.modelFields[localFilter] = null;
            }

            this.localDataFilters = {};

            for (let settingIndex in this.tableHeadings) {
              Event.$emit('vue-tables.filter::' + settingIndex, '');
            }

            this.searchModal.state = false;
            this.searchAddFieldModal.state = false;
          },
          updateLocalFilters(e, name) {
            if (e.target) {
              this.localDataFilters[e.target.name] = e.target.value;
            } else {
              this.localDataFilters[name] = e;
            }
          },
          columnFilter: function (id) {
            // let filteredElements = document.querySelectorAll('[filter-id="' + id + '"]');

            // if (this.columnsDisplay.indexOf(id) !== -1) {
            //   for (let i = 0; i < filteredElements.length; i++) {
            //     filteredElements[i].style.display = 'table-cell';
            //   }
            //
            //   this.columnsDisplay.splice(this.columnsDisplay.indexOf(id), 1);
            //
            //   this.localStorage[id] = false;
            // } else {
            //   for (let i = 0; i < filteredElements.length; i++) {
            //     filteredElements[i].style.display = 'none';
            //   }
            //
            //   this.columnsDisplay.push(id);
            //
            //   this.localStorage[id] = true;
            // }

            // localStorage[this.tableType + 'Filters'] = JSON.stringify(this.localStorage);
          },
          applyDate(type, e, name) {
            let transformedDate = '';

            if (name !== 'payment_time') {
              let date = new Date(e);
              transformedDate = String(Number(date.getFullYear()) < 10 ? '0' + String(date.getFullYear()) : String(date.getFullYear()))
                  + '-'
                  + String(Number(date.getMonth()) + 1 < 10 ? '0' + String(date.getMonth() + 1) : String(date.getMonth() + 1))
                  + '-'
                  + String(date.getDate())
                  + ' '
                  + String(String(date.getHours()) < 10 ? '0' + String(date.getHours()) : String(date.getHours()))
                  + ':'
                  + String(String(date.getMinutes()) < 10 ? '0' + String(date.getMinutes()) : String(date.getMinutes()))
                  + ':'
                  + String(String(date.getSeconds()) < 10 ? '0' + String(date.getSeconds()) : String(date.getSeconds()));
            } else {
              name = 'payment_date';

              let date = new Date(this.editingPayment.payment_date);
              transformedDate = String(Number(date.getFullYear()) < 10 ? '0' + String(date.getFullYear()) : String(date.getFullYear()))
                  + '-'
                  + String(Number(date.getMonth()) + 1 < 10 ? '0' + String(date.getMonth() + 1) : String(date.getMonth() + 1))
                  + '-'
                  + String(date.getDate())
                  + ' '
                  + e.target.value;
            }

            this.localDataFilters[name] = transformedDate;
          },
          clearFilter(index) {
            Event.$emit('vue-tables.filter::' + index, '');
            this.tableFilterDisplay[this.tableType][index] = null;
            this.modelFields[index] = null;
            delete this.localDataFilters[index];
          }
        },
        computed: {
          ...mapGetters([
            'tableHeadings',
            'tableType',
            'tableFilterDisplay'
          ]),
        },
    }
</script>
