<template>
    <td
    :tabindex="props.tabIndex"
    :class="props.classes"
    :filter-id="props.column"
    :style="{
      'display': tableColumnDisplay.indexOf(props.column) === -1
      && !localStorage[props.column]
      && props.column !== 'editing' ? 'none' : 'table-cell'
    }"
    >
        <router-link
            v-if="tableType === 'patients'"
            :to="'/patient/id/' + props.row.id"
        >
          <vnodes :vnodes="props.content"/>
        </router-link>

        <div
            v-else
            style="cursor: pointer"
            @click="$store.dispatch('moveConsultationModal', {
                state: true,
                type: 'edit',
                id: props.row.id
            })"
        >
          <vnodes
              :vnodes="props.content"
          />
        </div>
    </td>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        name: "MyTableCell",
        props: ['props'],
        components: {
            vnodes: {
                functional: true,
                render: (h, ctx) => typeof ctx.props.vnodes === 'object' ? ctx.props.vnodes : [ctx.props.vnodes]
            }
        },
        data() {
          return {
            localStorage: {},
          }
        },
        computed: {
            ...mapGetters([
                'tableHeadings',
                'tableType',
            ]),
            tableColumnDisplay() {
              if (localStorage[this.tableType + 'Filters']) {
                this.localStorage = JSON.parse(localStorage[this.tableType + 'Filters']);
              }

              return this.$store.getters.tableColumnDisplay;
            },
        },
        mounted() {
          if (localStorage[this.tableType + 'Filters']) {
            this.localStorage = JSON.parse(localStorage[this.tableType + 'Filters']);
          }
        }
    }
</script>

<style scoped>
</style>