<template>
    <th
    slot-scope="props"
    v-on="props.thEvents"
    v-bind="props.thAttrs"
    :filter-id="headingId"
    :style="{
      'display': tableColumnDisplay.indexOf(headingId) === -1
      && !localStorage[headingId]
      && headingId !== 'editing' ? 'none' : 'table-cell'
    }"
    >
        <span
        class="VueTables__heading"
        v-if="typeof props.heading !== 'object'"
        >
            <vnodes :vnodes="props.heading"/>
        </span>

        <span
        class="VueTables__heading"
        v-if="typeof props.heading === 'object'"
        @click="tableFilterModal"
        >
            <vnodes :vnodes="props.heading"/>
        </span>

        <div
        class="table__modal table__filter"
        :class="{'active': modal.status}"
        >
            <div class="table__filter__items">
                <div
                class="table__filter__item"
                v-for="(filter, id) in tableHeadings"
                v-if="id !== 'editing'"
                :key="id"
                :class="{
                  'active': localStorage[id]
                }"
                @click="columnFilter(id)"
                >
                    <div class="label table__filter__item__checkbox"></div>
                    <div class="table__filter__item__title">
                        {{filter}}
                    </div>
                </div>
            </div>
        </div>

        <vt-sort-control/>
    </th>
</template>

<script>
    import { mapGetters } from 'vuex';
    import VtSortControl from "vue-tables-2/compiled/components/VtSortControl";

    export default {
        name: "VtTableHeading",
        components: {
            VtSortControl,
            vnodes: {
                functional: true,
                render: (h, ctx) => typeof ctx.props.vnodes === 'object' ? ctx.props.vnodes : [ctx.props.vnodes]
            }
        },
        props: ['props'],
        data() {
            return {
                headingId: null,
                modal: {
                    status: false,
                },
                localStorage: {},
            }
        },
        methods: {
            tableFilterModal: function () {
                this.modal.status = !this.modal.status;
            },
            columnFilter: function (id) {
                let filteredElements = document.querySelectorAll('[filter-id="' + id + '"]');

                if (this.tableColumnDisplay.indexOf(id) !== -1) {
                    for (let i = 0; i < filteredElements.length; i++) {
                        filteredElements[i].style.display = 'table-cell';
                    }

                    this.tableColumnDisplay.splice(this.tableColumnDisplay.indexOf(id), 1);

                    this.localStorage[id] = false;
                } else {
                    for (let i = 0; i < filteredElements.length; i++) {
                        filteredElements[i].style.display = 'none';
                    }

                    this.tableColumnDisplay.push(id);

                    this.localStorage[id] = true;
                }

                localStorage[this.tableType + 'Filters'] = JSON.stringify(this.localStorage);
            }
        },
        computed: {
            ...mapGetters([
                'tableHeadings',
                'tableType',
            ]),
            tableColumnDisplay() {
              if (localStorage[this.tableType + 'Filters']) {
                this.localStorage = JSON.parse(localStorage[this.tableType + 'Filters']);
              }

              return this.$store.getters.tableColumnDisplay;
            },
        },
        mounted() {
            this.headingId = this.$parent.$options.propsData.column;
        }
    }
</script>