<template>
  <div class="app_wrapper">
    <v-client-table
        v-if="patients && localStorageLoading"
        :columns="columns"
        v-model="patients"
        :options="options"
        ref="custom-table"
    >
      <div slot="id" slot-scope="{row}">
        <div class="table-cell">
          <div class="table-cell__wrapper table-cell_contract">
            {{ row.id }}
          </div>
        </div>
      </div>

      <div slot="surname" slot-scope="{row}">
        <div class="table-cell">
          <div class="table-cell__wrapper table-cell_customer_name">
            {{ row.surname ? String(row.surname) : 'пусто' }}
          </div>
        </div>
      </div>

      <div slot="name" slot-scope="{row}">
        <div class="table-cell">
          <div class="table-cell__wrapper table-cell_customer_name">
            {{ row.name ? String(row.name) : 'пусто' }}
          </div>
        </div>
      </div>

      <div slot="patronymic" slot-scope="{row}">
        <div class="table-cell">
          <div class="table-cell__wrapper table-cell_customer_name">
            {{ row.patronymic ? String(row.patronymic) : 'пусто' }}
          </div>
        </div>
      </div>

      <div slot="birthday" slot-scope="{row}">
        <div class="table-cell">
          <div class="table-cell__wrapper table-cell_date">
            {{ row.birthday ? getDate(row.birthday, {date: true, time: false, month: false}) : 'пусто' }}
          </div>
        </div>
      </div>

      <div slot="sex" slot-scope="{row}">
        <div class="table-cell">
          <div class="table-cell__wrapper table-cell_customer_name">
            {{ row.sex ? String(row.sex) : 'пусто' }}
          </div>
        </div>
      </div>

      <div slot="snils" slot-scope="{row}">
        <div class="table-cell">
          <div class="table-cell__wrapper table-cell_contract">
            {{ row.snils ? row.snils : 'пусто' }}
          </div>
        </div>
      </div>

      <div slot="editing" slot-scope="{row}">
        <div class="table-cell">
        </div>
      </div>
    </v-client-table>
  </div>
</template>

<script>
import Vue from 'vue';
import { mapGetters } from 'vuex';
import { Event } from 'vue-tables-2';

export default {
  name: 'PatientList',
  data() {
    return {
      localStorageLoading: false,
      columns: [
        'id',
        'surname',
        'name',
        'patronymic',
        'birthday',
        'sex',
        'snils',
      ],
      options: {
        texts: {
          count: "Showing {from} to {to} of {count} records|{count} records|One record",
          first: "Первый",
          last: "Последний",
          filter: "Фильтр:",
          filterPlaceholder: "Поисковое поле",
          limit: "Записи:",
          page: "Страница:",
          noResults: "Нет записей",
          filterBy: "Фильтр по {column}",
          loading: "Загрузка...",
          defaultOption: "Выбрать {column}",
          columns: "Столбцы"
        },
        sortIcon: {
          base : 'fa',
          is: 'fa-sort',
          up: 'fa-sort-asc',
          down: 'fa-sort-desc'
        },
        headings: {
          editing: function(h) {
            return <div class="heading heading_editing"></div>
          },
          id: 'ID',
          surname: 'Фамилия',
          name: 'Имя',
          patronymic: 'Отчество',
          birthday: 'Дата рождения',
          sex: 'Пол',
          snils: 'СНИЛС',
        },
        sortable: [
          'id',
          'surname',
          'name',
          'patronymic',
          'birthday',
          'sex',
          'snils',
        ],
        resizableColumns: false,
        customFilters: [
          {
            name: 'id',
            callback: function(row, query) {
              return row['id'] == query;
            }
          },
          {
            name: 'surname',
            callback: function(row, query) {
              return (typeof row['surname'] === 'string' ? row['surname'].toLowerCase() : row['surname']) == (typeof query === 'string' ? query.toLowerCase() : query);
            }
          },
          {
            name: 'name',
            callback: function(row, query) {
              return (typeof row['name'] === 'string' ? row['name'].toLowerCase() : row['name']) == (typeof query === 'string' ? query.toLowerCase() : query);
            }
          },
          {
            name: 'patronymic',
            callback: function(row, query) {
              return (typeof row['patronymic'] === 'string' ? row['patronymic'].toLowerCase() : row['patronymic']) == (typeof query === 'string' ? query.toLowerCase() : query);
            }
          },
          {
            name: 'birthday',
            callback: function(row, query) {
              return row['birthday'] == query;
            }
          },
          {
            name: 'sex',
            callback: function(row, query) {
              return (typeof row['sex'] === 'string' ? row['sex'].toLowerCase() : row['sex']) == (typeof query === 'string' ? query.toLowerCase() : query);
            }
          },
          {
            name: 'snils',
            callback: function(row, query) {
              return row['snils'] == query;
            }
          },
        ],
      },
      modal: {
        id: null,
        status: false,
      },
    }
  },
  methods: {
    modalStatusChange: function (id) {
      this.modal.status = !this.modal.status;
      this.modal.id = id;
    },
    getDate(date, type) {
      date = new Date(date * 1000);

      let transformedDate = '';

      if (type.date) {
        transformedDate = String(transformedDate)
            + String(Number(date.getDate()) < 10 ? '0' + String(date.getDate()) : String(date.getDate()))
            + '.'
            + String(Number(date.getMonth()) + 1 < 10 ? '0' + String(date.getMonth() + 1) : String(date.getMonth() + 1))
            + '.'
            + String(date.getFullYear());
      }

      return transformedDate;
    },
    resetFilter() {
      for (let queryIndex in this.$refs['custom-table'].$refs['table'].customQueries) {
        this.$refs['custom-table'].$refs['table'].customQueries[queryIndex] = '';
      }
    }
  },
  components: {
  },
  computed: {
    ...mapGetters([
      'tableHeadings',
      'tableColumnDisplay',
      'tableType',
    ]),
    patients: {
      get: function () {
        this.$store.dispatch('setTableHeadings', this.options.headings);

        return this.$store.state.patients;
      },
      set: function (patients) {
        return patients;
      }
    },
  },
  watch: {

  },
  mounted() {
    this.$store.dispatch('setTableType', 'patients').then(() => {
      if (!localStorage.hasOwnProperty(this.tableType + 'Filters')) {
        let storage = {};

        for (let filter in this.tableHeadings) {
          if (this.tableColumnDisplay.indexOf(filter) !== -1) {
            storage[filter] = true;
          } else {
            storage[filter] = false;
          }
        }

        localStorage[this.tableType + 'Filters'] = JSON.stringify(storage);

        this.localStorageLoading = true;
      } else {
        let localStorageObject = JSON.parse(localStorage[this.tableType + 'Filters']);

        for (let filter in localStorageObject) {
          if (!localStorageObject[filter]) {
            if (this.tableColumnDisplay.indexOf(filter) !== -1) {
              this.tableColumnDisplay.splice(this.tableColumnDisplay.indexOf(filter), 1);
            }
          } else {
            if (this.tableColumnDisplay.indexOf(filter) === -1) {
              this.tableColumnDisplay.push(filter);
            }
          }
        }

        this.localStorageLoading = true;
      }
    })

    this.$store.dispatch('getListPatient');
    this.$store.dispatch('getConsultations');
  }
};
</script>

<style scoped>
</style>