<template>
  <div class="app_wrapper">
    <div class="content-block__wrapper">
      <form
          v-if="loaded"
          action=""
          id="contract-form"
          class="form"
          ref="contract-form"
          :class="{'edit': formEdit}"
          @submit.prevent="submit"
      >
        <div class="content-block__header">
          <div class="title__wrapper">
            <div
                v-if="$route.name === 'PatientCreate'"
                class="title title_large"
            >
              Создание пациента
            </div>

            <div
                v-if="$route.name !== 'PatientCreate' && formEdit"
                class="title title_large"
            >
              Редактирование пациента №{{$route.params.patientId}}
            </div>

            <div
                v-if="$route.name === 'PatientView' && !formEdit"
                class="title title_large"
            >
              Пациент №{{$route.params.patientId}}
            </div>
          </div>

          <router-link
              to="/"
              id="form-back"
              class="button"
              style="margin-left: 15px"
          >Главная</router-link>

          <button
              v-show="!formEdit"
              id="form-edit"
              type="button"
              class="button"
              style="margin-left: 15px"
              @click="formEdit = true"
          >Редактировать</button>

          <button
              @click="formEdit = false"
              id="form-cancel"
              type="button"
              class="button"
              style="margin-left: 15px"
              v-if="$route.name === 'PatientView' && formEdit"
          >Отменить</button>

          <button
              v-if="formEdit"
              id="form-save"
              type="submit"
              class="button"
              style="background-color: #1bc167; margin-left: 15px"
          >Сохранить</button>

          <button
              v-if="!formEdit"
              id="form-delete"
              type="button"
              class="button"
              style="margin-left: 15px; background-color: rgb(232, 57, 103);"
              @click="remove(Number($route.params.patientId))"
          >Удалить</button>
        </div>

        <div class="content-block form__wrapper">
          <div
              class="form-errors"
              v-if="formErrors.length"
          >
            <div class="title__wrapper">
              <div class="title title_medium">Убедитесь в корректности данных</div>
            </div>

            <div class="form-error__items">
              <div
                  class="form-error__item"
                  v-for="error in formErrors"
              >
                {{ error }}
              </div>
            </div>
          </div>

          <div class="form__groups">
            <div class="form__group">
              <div class="title__wrapper">
                <div class="title title_medium">Информация о пациенте</div>
              </div>

              <div class="form__fields">
                <div class="form__field">
                  <div class="title__wrapper">
                    <div class="title title_small">Фамилия</div>
                  </div>

                  <input
                      v-model="changes.surname"
                      type="text"
                      name="surname"
                      placeholder="Укажите фамилию"
                      :disabled="!formEdit"
                  >
                </div>

                <div class="form__field">
                  <div class="title__wrapper">
                    <div class="title title_small">Имя</div>
                  </div>

                  <input
                      v-model="changes.name"
                      type="text"
                      name="name"
                      placeholder="Укажите имя"
                      :disabled="!formEdit"
                  >
                </div>

                <div class="form__field">
                  <div class="title__wrapper">
                    <div class="title title_small">Отчество</div>
                  </div>

                  <input
                      v-model="changes.patronymic"
                      type="text"
                      name="patronymic"
                      placeholder="Укажите отчество"
                      :disabled="!formEdit"
                  >
                </div>

                <div class="form__field">
                  <div class="title__wrapper">
                    <div class="title title_small">Дата рождения</div>
                  </div>

                  <vc-date-picker
                      v-model="changes.birthday"
                      :input-props="{
                      name: 'birthday',
                      placeholder: 'Укажите дату рождения',
                      disabled: !formEdit,
                      autocomplete: 'off'
                  }"
                      :popover="{ placement: 'bottom', visibility: 'click' }"
                  />
                </div>

                <div class="form__field">
                  <div class="title__wrapper">
                    <div class="title title_small">Пол</div>
                  </div>

                  <input
                      v-model="changes.sex"
                      type="text"
                      name="sex"
                      placeholder="Укажите пол"
                      :disabled="!formEdit"
                  >
                </div>

                <div class="form__field">
                  <div class="title__wrapper">
                    <div class="title title_small">СНИЛС</div>
                  </div>

                  <input
                      v-model="changes.snils"
                      type="text"
                      name="snils"
                      placeholder="Укажите СНИЛС"
                      :disabled="!formEdit"
                      v-mask="{mask: '999-999-999-99'}"
                  >
                </div>
              </div>
            </div>

            <div
                v-if="$route.name !== 'PatientCreate' && patient"
                class="form__group"
            >
              <consultations-patient-list
                  :patient-id="Number($route.params.patientId)"
              ></consultations-patient-list>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import { mapGetters } from 'vuex';
import ConsultationsPatientList from "../consultation/List";

const VueInputMask = require('vue-inputmask').default;

Vue.use(VueInputMask);

export default {
  name: 'Patient',
  components: {ConsultationsPatientList},
  props: [],
  data() {
    return {
      loaded: false,
      formErrors: [],
      changes: {},
      formEdit: false,
    }
  },
  methods: {
    validSnils(snils) {
      let result = false

      snils = snils.replaceAll("-", "");
      snils = snils.replaceAll("_", "");

      if (snils.length !== 11) {
        result = '"СНИЛС" может состоять только из 11 цифр';
      } else {
        if (typeof snils === 'number') {
          snils = snils.toString();
        } else if (typeof snils !== 'string') {
          snils = '';
        }

        let sum = 0;
        for (let i = 0; i < 9; i++) {
          sum += parseInt(snils[i]) * (9 - i);
        }


        let checkDigit = 0;
        if (sum < 100) {
          checkDigit = sum;
        } else if (sum > 101) {
          checkDigit = parseInt(sum % 101);
          if (checkDigit === 100) {
            checkDigit = 0;
          }
        }

        if (checkDigit === parseInt(snils.slice(-2))) {
          result = true;
        } else {
          result = 'Неправильное контрольное число "СНИЛС"';
        }
      }

      return result;
    },
    checkForm() {
      this.formErrors = [];

      if (!this.changes.surname) {
        this.formErrors.push('Не заполнено "Фамилия"');
      }

      if (!this.changes.name) {
        this.formErrors.push('Не заполнено "Имя"');
      }

      if (!this.changes.birthday) {
        this.formErrors.push('Не заполнено "Дата рождения"');
      }

      if (!this.changes.sex) {
        this.formErrors.push('Не заполнено "Пол"');
      }

      if (!this.changes.snils) {
        this.formErrors.push('Не заполнено "СНИЛС"');
      } else {
        let validate = this.validSnils(this.changes.snils)

        if (typeof validate === 'string') {
          this.formErrors.push(validate);
        }
      }
    },
    submit(e) {
      this.checkForm();

      if (this.formErrors.length) {
        return true;
      }

      let data = {};

      for (let attrName in this.changes) {
        if (attrName === 'birthday') {
          data[attrName] = Math.round((this.changes[attrName]).getTime() / 1000);
        } else {
          data[attrName] = this.changes[attrName];
        }
      }

      if (this.$route.name === 'PatientCreate') {
        this.$store.dispatch('createPatient', data).then(() => {
          this.formEdit = false;

          this.$router.push({ name: 'PatientView', params: { patientId: this.patient.id }});
        });
      } else if (this.$route.name === 'PatientView') {
        if (!data['id']) {
          data['id'] = this.patient.id;
        }

        this.$store.dispatch('editPatient', data).then(() => {
          this.formEdit = false;
        });
      }

      e.preventDefault();
    },
    remove(patientId) {
      this.$store.dispatch('deletePatient', patientId).then(() => {
        this.$router.push({ name: 'PatientListView' });
      })
    }
  },
  computed: {
    ...mapGetters([
      'patient'
    ]),
  },
  mounted() {
    if (this.$route.name === 'PatientCreate') {
      this.formEdit = true;
      this.loaded = true;
    } else {
      this.$store.dispatch('getPatient', this.$route.params.patientId).then(() => {
        for (let attrName in this.patient) {
          if (attrName === 'birthday' && this.patient[attrName]) {
            this.changes[attrName] = new Date(Number(this.patient[attrName]) * 1000);
          } else {
            this.changes[attrName] = this.patient[attrName];
          }
        }

        this.loaded = true;
      });
    }
  }
};
</script>

<style scoped>
</style>