<template>
    <div class="main">
        <router-view/>
    </div>
</template>

<script>
    import Vue from 'vue';
    import { mapGetters } from 'vuex';
    import VCalendar from 'v-calendar';
    import { ServerTable, ClientTable, Event } from 'vue-tables-2';
    import DataTable from "./../components/table/DataTable";
    import VtPerPageSelector from './../components/table/PerPageSelector';
    import VtGenericFilter from './../components/table/GenericFilter';
    import VtHeadingsRow from './../components/table/HeadingsRow';
    import VtTableHeading from './../components/table/TableHeading';
    import VtTableCell from './../components/table/TableCell';
    import VtTableRow from './../components/table/VtTableRow';


    // Use v-calendar & v-date-picker components
    Vue.use(VCalendar, {
      componentPrefix: 'vc',
      masks: {
        title: 'MMMM YYYY',
        weekdays: 'W',
        navMonths: 'MMM',
        input: ['L', 'DD.MM.YYYY', 'DD.MM.YYYY'],
        dayPopover: 'WWW, MMM D, YYYY',
        data: ['L', 'DD.MM.YYYY', 'DD.MM.YYYY'],
      }
    });

    Vue.use(ClientTable, {}, false, 'bootstrap4', {
        dataTable: DataTable,
        perPageSelector: VtPerPageSelector,
        genericFilter: VtGenericFilter,
        headingsRow: VtHeadingsRow,
        tableHeading: VtTableHeading,
        tableRow: VtTableRow,
        tableCell: VtTableCell
    });

    export default {
        name: 'App',
        components: {
        },
        computed: {
        },
    };
</script>

<style scoped>
</style>
