.form__wrapper {
  .form__groups {
    position: relative;
    display: flex;
    align-items: flex-start;

    .form__group {
      &:first-child {
        width: 30%;
      }
      &:last-child {
        width: 70%;
      }
      //& > * {
      //  max-width: 465px;
      //}
      & > .title__wrapper {
        margin-bottom: 30px;
      }
      &:nth-child(2) {
        border-left: 2px solid #F9F8FE;
        padding-left: 59.5px;
      }
    }
  }

  .form-errors {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    background-color: rgba(232, 57, 103, 0.1);
    padding: 15px;
    border-radius: 24px;

    & > .title__wrapper {
      margin-bottom: 15px;
    }
    .form-error__item {
      color: #E83967;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}

.form__fields {
  display: flex;
  flex-wrap: wrap;

  &:not(:last-child) {
    margin-bottom: 50px;
  }
  .form__field {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
    &.form__field_small {
      width: 42.606%;
    }
    input, select, .form__field__content {
      &, &.vc-border, &.vc-border-2, &.vc-border-3 {
        width: 73.32%;
        font-size: 16px;
        line-height: 19px;
        font-family: "SF Pro Display Regular", sans-serif;
        letter-spacing: 0.32px;
        border-style: none;

        &[disabled], &.form__field__content {
          background-color: transparent;
          padding: 0;
          border-radius: 0;
        }
      }
    }
    select {
      &[disabled] {
        background-image: none;
        cursor: default;
      }
    }
    .title__wrapper {
      margin-bottom: 8px;

      .title {
        color: #9782B2;
      }
    }
    .field__wrapper {
      position: relative;
      width: 73.32%;

      .field__icon {
        position: absolute;
        right: 18.2px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        min-width: 14px;
      }
      input {
        width: 100%!important;
        padding-right: 50px;
      }
    }

    .form__field_input {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > *:not(.cancel) {
        width: 88%;
      }
      .cancel {
        margin-left: 21px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .form__fields {
    .form__field {
      &.form__field_small {
        width: 100%;
      }
      .title__wrapper {
        width: 100%;
      }
    }
  }
}