.header {
  .header__account {
    color: #fff;
    background: #292331;
    font-size: 12px;
    letter-spacing: 0.2px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      display: flex;
      justify-content: flex-end;
    }
    .link_hover {
      &:hover {
        color: #47d7ff!important;
      }
    }
  }
  .header__menu {
    height: 72px;
    background: #fff;
    display: flex;
    align-items: center;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }
    .header__menu__listing {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      height: 100%;

      .header__menu__item {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #292331;
        font-size: 16px;
        line-height: 19px;
        font-family: "SF Pro Display Semibold", sans-serif;

        &:not(:last-child) {
          margin-right: 50px;
        }
        &.header__menu__item_blue {
          color: #143FDB;
        }
      }
    }
  }
  #phone-callback {
    &:before {
      content: url(../../images/phone-callback-default.svg);
      margin-right: 9px;
      width: 14px;
      height: 14px;
      margin-bottom: 3px;
    }
    &:hover {
      &:before {
        content: url(../../images/phone-callback-hover.svg);
      }
    }
  }
  #account {
    position: relative;

    &:before {
      content: url(../../images/user-default.svg);
      margin-right: 9px;
      width: 13px;
      height: 13px;
      margin-bottom: 3px;
      position: absolute;
      right: 100%;
      bottom: 0;
    }
    &:hover {
      &:before {
        content: url(../../images/user-hover.svg);
      }
    }
  }
}