.full-modal {height: 100vh;width: 100vw;position: fixed;left: 0;top: 0;z-index: 999;}

.full-modal .empty-zone {
  background-color: rgba(255, 255, 255, 0.5);
  width: inherit;
  height: inherit;
}

.full-modal .modal__wrapper {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  max-width: 500px;
}