.VueTables {
  & > .content-block {
    min-height: 530px;
    //height: calc(100vh - 90px - 50px);
    padding-bottom: 50px;
  }
  &.consultations__table {
    & > .content-block {
      padding: 10px;
    }
  }
  .table__header {
    .VueTables__search {
      margin-left: 33px;
      margin-right: 33px;
      margin-bottom: 0;
      width: 47.568%;
      height: 100%;

      .VueTables__search-field {
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        height: 100%;

        & > input {
          font-family: 'SF Pro Display Regular', sans-serif;
          border-radius: 8px;
          background-color: #fff;
          border: none;
          padding: 20px 16px;
          font-size: 14px;
          line-height: 16px;
          width: 100%;
          padding-right: 45px;
          outline: none;
          height: 100%;
        }
        img {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 16px;
        }
      }
    }
    .VueTables__limit {
      .VueTables__limit-field {
        display: flex;
        align-items: center;
      }
    }
  }
  .table__wrapper {
    position: relative;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .table__scroll-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: default;
      display: block;
      width: 50px;
      height: 100%;

      &.table__scroll-arrow_left {
        left: 0;
      }
      &.table__scroll-arrow_right {
        right: 0;
      }
    }
  }
  .table-responsive {
    //min-height: 100%;
    min-height: 442px;

    .table {
      .table__modal {
        position: absolute;
        //width: auto;
        min-height: 100px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        background-color: #fff;
        color: #292331;
        font-family: "SF Pro Display Regular", sans-serif;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.28px;
        box-shadow: 0px 15px 30px #143FDB1A;
        border-radius: 24px;
        min-width: 204px;
        font-weight: normal;
        padding: 14px 14px 26px;
        left: 22px;
        top: calc(100% - 8px);
        max-height: 450px;
        //width: calc(986px - 44px);
      }
      .table-cell_editing {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30px;
        //margin-left: auto;
        cursor: pointer;

        .editing__dot {
          width: 6px;
          height: 6px;
          background-color: #9782B2;
          border-radius: 50%;
        }
      }

      thead {
        td, th {
          border: none;
          border-bottom: 2px solid #F9F8FE;
          font-family: 'SF Pro Display Semibold', sans-serif;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 0.32px;
          color: #292331;
          padding-bottom: 18.5px;
          padding-left: 0;
          padding-right: 0;
        }
        th {
          position: relative;
          
          //&:last-child {
          //  text-align: right;
          //}
          .VueTables__sort-icon {
            display: inline-block;
            margin-right: auto;
            float: none!important;
            //overflow: hidden;
            margin-left: 3px;
          }
        }
        .heading {
          &.heading_editing {
            &:after {
              content: url(../../images/table-editing.svg);
              cursor: pointer;
            }
          }
        }
        .VueTables__sortable {
          cursor: pointer;

          .VueTables__sort-icon {
            &.fa-unsorted, &.fa-sort {
              &:before {
                content: '';
              }
            }
            &.fa-sort-up, &.fa-sort-asc {
              transform: rotate(-180deg);
              transform-origin: center center;

              &:before {
                content: url(/public/images/components/table/table-sort-arrow.svg);
              }
            }
            &.fa-sort-down, &.fa-sort-desc {
              &:before {
                content: url(/public/images/components/table/table-sort-arrow.svg);
              }
            }
          }
        }
      }

      tbody {
        tr {
          color: #292331;

          &:nth-of-type(even) {
            &, &:hover {
              background-color: #F9F8FE;
            }
          }
          &:nth-of-type(odd) {
            &, &:hover {
              background-color: #fff;
            }
          }
        }
      }

      td, th {
        border: none;
        outline: none;

        &[filter-id="editing"]
        {
          min-width: 65px!important;
        }
        * {
          transition: none;
        }
        &:first-child {
          padding-left: 22px;
        }
        &:last-child {
          padding-right: 22px;
        }
      }

      th {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      td {
        padding: 0;

        & > * {
          padding-top: 20px;
          padding-bottom: 20px;
          display: block;
        }
      }

      tr {
        &:hover {
          background-color: inherit;

          td {
            color: #4885FF;
          }
        }
      }

      .table-cell {
        position: relative;

        .table-cell_debt {
          &.table-cell_debt_active {
            color: #1BC167;
          }
          &.table-cell_debt_disable {
            color: #E83967;
          }
        }

        .table-cell_editing {
          margin-top: 5px;
          margin-right: auto;
        }
      }
    }
  }

  .table__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 15px;

    .VuePagination {
      flex: none;
      width: auto;
      padding: 0;
      margin: 0;
      margin-left: 22px;

      .VuePagination__count {
        display: none;
      }
      .VuePagination__pagination-item {
        &.page-item {
          &.VuePagination__pagination-item-prev-chunk, &.VuePagination__pagination-item-next-chunk,  &.VuePagination__pagination-item-prev-page, &.VuePagination__pagination-item-next-page {
            margin-right: 10px!important;
          }
          &.active {
            .page-link {
              color: #4885FF;
            }
          }
          &.disabled, &.VuePagination__pagination-item-prev-page, &.VuePagination__pagination-item-next-page {
            display: none;
          }
          &:not(:last-child) {
            margin-right: 20px;

            & + .VuePagination__pagination-item-next-chunk {
              margin-left: -10px;
            }
          }
          .page-link {
            background-color: transparent;
            border: none;
            color: rgba(41, 35, 49, 0.5);
            padding: 0;
          }
        }
      }
      .VuePagination__pagination {
        margin-bottom: 0;
      }
    }
    .table__show-more {
      font-size: 18px;
      line-height: 21px;
      color: #4885FF;
      cursor: pointer;
      text-transform: lowercase;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      margin: 0 auto;
      display: block;
      width: max-content;
    }
    .VueTables__limit {
      margin-right: 22px;
      margin-bottom: 0;

      .VueTables__limit-field {
        color: rgba(41, 35, 49, 0.5);
        text-transform: lowercase;
        letter-spacing: 0.28px;

        .form-control {
          border: none;
          background-color: transparent;
          padding: 0;
          font-size: 14px;
          line-height: 16px;
          font-weight: normal;
          color: inherit;
          border-radius: unset;
          height: auto;
          outline: none;
          margin-bottom: 2px;

          &:focus {
            box-shadow: none;
          }
        }
      }
    }
  }
  .table-responsive {
    .table {
      .table__filter {
        display: none;

        &.active {
          display: flex;
        }
        .table__filter__items {
          display: flex;
          flex-direction: column;
          max-height: 100%;
          width: 100%;
          flex-flow: column wrap;
          height: 300px;
          max-width: 100%;

          .table__filter__item {
            cursor: pointer;
            display: flex;
            align-items: center;
            width: 25%;

            &:not(:last-child) {
              margin-bottom: 12px;
            }
            .table__filter__item__title::selection {
              background: transparent;
            }
          }
        }
      }
      tr {
        &.VueTables__no-results {
          td {
            padding: 15px 0;
          }
        }
      }
    }
  }
  & > .content-block {
    display: flex;
    flex-direction: column;
  }
  .heading.heading_editing {
    position: relative;
    height: 15px;

    &:after {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      margin: 0 auto;
      display: block;
    }
  }
}
.content-block__header {
  position: relative;
}
.search__modal .vc-grid-container {
  overflow: inherit!important;
}