<template>
  <div class="app_wrapper">
    <div class="title__wrapper" style="margin-bottom: 30px">
      <div class="title title_medium">Консультации</div>

      <button
          class="button"
          type="button"
          @click="$store.dispatch('moveConsultationModal', {
                state: true,
                type: 'create',
                id: null
          })"
      >Создать консультацию</button>
    </div>

    <v-client-table
        v-if="consultationsPatient"
        :columns="columns"
        v-model="consultationsPatient"
        :options="options"
        ref="custom-table"
    >
      <div slot="id" slot-scope="{row}">
        <div class="table-cell">
          <div class="table-cell__wrapper table-cell_contract">
            {{ row.id }}
          </div>
        </div>
      </div>

      <div slot="date" slot-scope="{row}">
        <div class="table-cell">
          <div class="table-cell__wrapper table-cell_date">
            {{ row.date ? getDate(row.date, {date: true, time: false, month: false}) : 'пусто' }}
          </div>
        </div>
      </div>

      <div slot="time" slot-scope="{row}">
        <div class="table-cell">
          <div class="table-cell__wrapper table-cell_date">
            {{ row.time ? String(row.time) : 'пусто' }}
          </div>
        </div>
      </div>

      <div slot="symptoms" slot-scope="{row}">
        <div class="table-cell">
          <div class="table-cell__wrapper table-cell_customer_name">
            {{ row.symptoms ? String(row.symptoms) : 'пусто' }}
          </div>
        </div>
      </div>
    </v-client-table>

    <div
        class="full-modal"
        :class="{'active': modalConsultationState}"
        v-if="modalConsultationState"
    >
      <div class="content-block modal__wrapper">
        <form
            action=""
            class="form edit"
            @submit.prevent="submit"
        >
          <div class="form__wrapper">
            <div
                class="form-errors"
                v-if="formErrors.length"
            >
              <div class="title__wrapper">
                <div class="title title_medium">Убедитесь в корректности данных</div>
              </div>

              <div class="form-error__items">
                <div
                    class="form-error__item"
                    v-for="error in formErrors"
                >
                  {{ error }}
                </div>
              </div>
            </div>

            <div class="form__groups">
              <div class="form__group" style="width: 100%">
                <div class="title__wrapper">
                  <div class="title title_medium">{{ modalConsultationType === 'create' ? 'Создание консультации' : 'Редактирование консультации №' + modalConsultationId }}</div>
                </div>

                <div class="form__fields">
                  <div class="form__field">
                    <div class="title__wrapper">
                      <div class="title title_small">Дата</div>
                    </div>

                    <vc-date-picker
                        v-model="changes.date"
                        :input-props="{
                            name: 'date',
                            placeholder: 'Укажите дату консультации',
                            autocomplete: 'off'
                        }"
                        :popover="{ placement: 'bottom', visibility: 'click' }"
                    />
                  </div>

                  <div class="form__field">
                    <div class="title__wrapper">
                      <div class="title title_small">Время</div>
                    </div>

                    <input
                        v-model="changes.time"
                        v-mask="{regex: '^([01]?\\d|2[0-3]):[0-5][0-9]$'}"
                        type="text"
                        name="name"
                        placeholder="Укажите время консультации"
                    >
                  </div>

                  <div class="form__field">
                    <div class="title__wrapper">
                      <div class="title title_small">Симптомы</div>
                    </div>

                    <input
                        v-model="changes.symptoms"
                        type="text"
                        name="name"
                        placeholder="Введите симптомы"
                    >
                  </div>

                  <div class="form__field" style="display: flex; justify-content: center;">
                    <button
                        v-if="consultation"
                        type="button"
                        class="button"
                        style="background-color: #e83967; margin-right: 20px"
                        @click="removeConsultation(modalConsultationId)"
                    >Удалить</button>

                    <button
                        type="submit"
                        class="button"
                        style="background-color: #1bc167;"
                    >Сохранить</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div
          class="empty-zone"
          @click="$store.dispatch('moveConsultationModal', {
                state: false,
                type: null,
                id: null
          })"
      ></div>
    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex';

export default {
  name: 'ConsultationsPatientList',
  props: ['patientId'],
  data() {
    return {
      formErrors: [],
      changes: {},
      modalState: false,
      localStorageLoading: false,
      columns: [
        'date',
        'time',
        'symptoms',
      ],
      options: {
        texts: {
          count: "Showing {from} to {to} of {count} records|{count} records|One record",
          first: "Первый",
          last: "Последний",
          filter: "Фильтр:",
          filterPlaceholder: "Поисковое поле",
          limit: "Записи:",
          page: "Страница:",
          noResults: "Нет записей",
          filterBy: "Фильтр по {column}",
          loading: "Загрузка...",
          defaultOption: "Выбрать {column}",
          columns: "Столбцы"
        },
        sortIcon: {
          base : 'fa',
          is: 'fa-sort',
          up: 'fa-sort-asc',
          down: 'fa-sort-desc'
        },
        headings: {
          date: 'Дата',
          time: 'Время',
          symptoms: 'Симптомы',
        },
        sortable: [
          'date',
          'time',
          'symptoms',
        ],
        resizableColumns: false,
      },
    }
  },
  methods: {
    validTime(time) {
      return !!/^([01]?\d|2[0-3]):[0-5][0-9]$/.exec(time);
    },
    checkForm() {
      this.formErrors = [];

      if (!this.changes.date) {
        this.formErrors.push('Не заполнено "Дата"');
      }

      if (!this.changes.time) {
        this.formErrors.push('Не заполнено "Время"');
      } else if (!this.validTime(this.changes.time)) {
        this.formErrors.push('Укажите корректное "Время"');
      }
    },
    getDate(date, type) {
      date = new Date(date * 1000);

      let transformedDate = '';

      if (type.date) {
        transformedDate = String(transformedDate)
            + String(Number(date.getDate()) < 10 ? '0' + String(date.getDate()) : String(date.getDate()))
            + '.'
            + String(Number(date.getMonth()) + 1 < 10 ? '0' + String(date.getMonth() + 1) : String(date.getMonth() + 1))
            + '.'
            + String(date.getFullYear());
      }

      return transformedDate;
    },
    submit(e) {
      this.checkForm();

      if (this.formErrors.length) {
        return true;
      }

      let data = {};
      data['patient'] = this.patientId;

      for (let attrName in this.changes) {
        if (attrName === 'date') {
          data[attrName] = Math.round((this.changes[attrName]).getTime() / 1000);
        } else {
          data[attrName] = this.changes[attrName];
        }
      }

      if (this.modalConsultationType === 'create') {
        this.$store.dispatch('createConsultation', data).then(() => {
          this.$store.dispatch('getConsultationsPatient', this.patientId);

          this.$store.dispatch('moveConsultationModal', {
            state: false,
            type: null,
            id: null
          });
        });
      } else if (this.modalConsultationType === 'edit') {
        this.$store.dispatch('editConsultation', data).then(() => {
          this.$store.dispatch('getConsultationsPatient', this.patientId);

          this.$store.dispatch('moveConsultationModal', {
            state: false,
            type: null,
            id: null
          });
        });
      }

      e.preventDefault();
    },
    removeConsultation(consultationId) {
      this.$store.dispatch('deleteConsultation', consultationId).then(() => {
        this.$store.dispatch('getConsultationsPatient', this.patientId);

        this.$store.dispatch('moveConsultationModal', {
          state: false,
          type: null,
          id: null
        });
      })
    }
  },
  computed: {
    ...mapGetters([
      'tableHeadings',
      'tableColumnDisplay',
      'tableType',
      'consultation',
      'modalConsultationType',
      'modalConsultationState',
      'modalConsultationId',
    ]),
    consultationsPatient: {
      get: function () {
        return this.$store.state.consultationsPatient;
      },
      set: function (consultationsPatient) {
        return consultationsPatient;
      }
    },
  },
  watch: {
    modalConsultationId() {
      this.formErrors = [];

      if (this.modalConsultationId !== null) {
        this.$store.dispatch('getConsultation', this.modalConsultationId);
      } else {
        this.$store.dispatch('getConsultation');
      }
    },
    modalConsultationState() {
      if (!this.modalConsultationState) {
        this.changes = {};
      }
    },
    consultation() {
      for (let attrName in this.consultation) {
        if (attrName === 'date' && this.consultation[attrName]) {
          this.changes[attrName] = new Date(Number(this.consultation[attrName]) * 1000);
        } else {
          this.changes[attrName] = this.consultation[attrName];
        }
      }
    },
  },
  mounted() {
    this.$store.dispatch('setTableType', 'consultations');

    this.$store.dispatch('getConsultationsPatient', this.patientId);
  }
};
</script>

<style scoped>
</style>